:root {
  --primary-color: #007bff; /* Blue */
  --secondary-color: #6c757d; /* Gray */
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: calc(100vw - 20px);
  /* height: 100vh; */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

header h1 {
  font-size: 2rem;
  color: var(--primary-color);
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.hero {
  width: 100%;
  height: auto;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 150px);
  margin-left: 50px;
  margin-right: 50px;
}

.services ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.services li {
  margin-bottom: 5px;
  color: var(--secondary-color);
  transition: color 0.3s ease-in-out;
}

.services li:hover {
  color: var(--primary-color);
}

.about,
.contact {
  width: 100vw;
}

.contact p {
  margin-bottom: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  background: white;
  width: 100%;
  margin-top: auto;
  text-align: center;
  color: var(--secondary-color);
  height: 30px;
}

footer p {
  display: inline;
  margin: 0;
  padding: 0;
}

footer p {
  font-size: 0.8rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding-bottom: 100px;
}

nav ul {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  list-style: none;
}

nav ul li {
  margin: 10px;
  background: var(--secondary-color);
  padding: 5px;
  border-radius: 5px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li:hover {
  background: var(--primary-color);
  nav ul li a {
    color: var(--secondary-color);
  }
}

